<div class="mx-auto container" style="width: 800px;">
  <% @articles.each do |article| %>
    <div>
      <a href="/articles/<%=article.id%>" style="text-decoration:none">
        <div class="d-flex justify-content-between bg-secondary my-3">
          <p class="p-3 m-0 text-white"><%= article.title%></p>
          <p class="p-3 m-0 text-white">+</p>
        </div>
      </a>
    </div>
  <% end %>
</div>
